<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pantalla de prueba</title>
    <link rel="stylesheet" href="Estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@300;400;700;800&display=swap" rel="stylesheet">
</head>
    
<body>

    
        <div class="Titulo">
            <H1 class="titulo1">Inventario de MyCard.</H1>
        </div>
        <div class="Subtitulo">
            <p>Accede al inventario de computo de MyCard.</p>
        </div>
    <div class="BotonPrimario">
        <div class="Boton">
            <button class="presionarparaver" ><span class="texto"><a id="redireccion" href="PantallaSecundaria.html">Pulsa para ver todo el inventario</span></a></button>
        </div>
    </div>

    {% if equipo %}

    <h2>{{equipo.nombre}} Escaneada</h2>
    <p><strong>Marca: </strong>{{equipo.marca}}</p>
    <p><strong>Modelo: </strong>{{equipo.modelo}}</p>
    {% endif %}
    
    
</body>
<script src="script.js">
</script>
</html>